<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchen Project</title>
    <link rel="stylesheet" href="./static/css/index.css">
    <style>
        body {
          background-color: black;
        }
    </style>
</head>

<style>

</style>

<body>
    <iframe width="82%" height="100%" src="https://www.youtube.com/embed/{{youtube_url_tail}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</body>



</html>
